/* Reset margins/padding and use border-box sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Make html and body full-viewport size */
html, body {
  height: 100%;
  width: 100%;
}
#main {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.815); 
  padding: 20px;
  gap: 20px; 
  background-image: url(./thom-masat-RLW1pzEXvEo-unsplash.jpg);
  background-size: cover;
  overflow: auto;

}

.card{
    height: 400px;
    width: 280px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    align-items:center;
    border-radius: 12px;
}
img{
  object-fit: cover;
  height: 200px;
  width: 200px;  
  border-radius: 500px;
}